@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    font-family: 'VT323', monospace;
}

body {
    background-color: #212529;
}

.main_img {
    position: absolute;
}

    .main_img img {
        width: 100%;
        height: auto;
    }

nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
}

    nav a img {
        position: fixed;
        width: 4.8em;
        height: auto;
    }

    nav a img:active {
        width: 4.5em;
    }

@media (max-width: 899px) {
    nav a img {
        width: 4em;
    }

    nav a img:active {
        width: 3.6em;
    }
}

@media (max-width: 599px) {
    nav a img {
        width: 3em;
    }

    nav a img:active {
        width: 2.5em;
    }
}

.modpack_download_main {
    margin-top: 9.7em;
    text-align: center;
    font-size: 2em;
}

    .download_modpack {
        -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.66); 
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.66);
        min-width: 200px;
        height: 60px;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border: 1px solid #000;
        color: #fff;
        background: transparent;
        z-index: 0;
      }
      .download_modpack:hover {
        -webkit-box-shadow: none; 
        box-shadow: none;
        font-size: 0.9em;
        transition: all 0.3s ease;
        color: #ffffffb5;
      }
      .download_modpack:active {
        font-size: 0.8em;
        color: #000000b5;
      }
      .download_modpack:hover:after {
        top: 0;
        left: 0;
      }
      .download_modpack:after {
        content: "";
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 5px;
        left: 5px;
        transition: 0.2s;
        background-color: #0088ff;
      }
    
@media (max-width: 899px) {
.modpack_download_main {
    margin-top: 4.5em;
}
}

@media (max-width: 599px) {
.modpack_download_main {
    margin-top: 4em;
    font-size: 1em;
}

    .download_modpack {
        min-width: 130px;
        height: 40px;
        font-size: 1em;
        }
}
        
.spline_mc {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

    .spline_viewers {
        width: 20em;
        height: 30em;
        overflow: hidden;
        border-radius: 20%;
    }
    
    .sous_spline_viewers {
        width: 30em;
        height: 20em;
    }

@media (max-width: 899px) {
.spline_mc {
    margin-top: 15em;
}

    .spline_viewers {
        width: 20em;
        height: 25em;
        border-radius: 20%;
    }
    
    .sous_spline_viewers {
        width: 30em;
        height: 20em;
    }
}

@media (max-width: 599px) {
.spline_mc {
    margin-top: 7em;
}

    .spline_viewers {
        width: 16em;
        height: 25em;
        border-radius: 10%;
    }
    
    .sous_spline_viewers {
        width: 25em;
        height: 35em;
    }
}

.modpack_info {
    color: white;
    margin-top: 13em;
    margin-left: 12em;
    margin-right: 12em;
    font-size: 1.5em;
}

    .presentation_modpack {
        text-align: center;
        padding: 1em;
        font-size: 1.2em;
    }

        .presentation_modpack h3 {
            color: #0088ff;
        }

    .story_modpack {
        text-align: start;
        padding: 1em;
        font-size: 1.2em;
        margin-right: 20em;
    }

        .story_modpack h3 {
            color: #d5b902;
        }

    .other_info_modpack {
        margin-left: 48%;
        padding: 1em;
        font-size: 1.2em;
    }

        .other_info_modpack h3 {
            color: #188410;
        }

@media (max-width: 899px) {
.modpack_info {
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1.4em;
}

    .presentation_modpack {
        text-align: center;
        font-size: 1.2em;
    }

    .story_modpack {
        text-align: center;
        font-size: 1.2em;
        margin-right: 0em;
    }

    .other_info_modpack {
        text-align: center;
        font-size: 1.2em;
        margin-left: 0%;
    }
}

@media (max-width: 599px) {
.modpack_info {
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1em;
}

    .presentation_modpack {
        text-align: center;
        font-size: 1.1em;
    }

    .story_modpack {
        text-align: center;
        font-size: 1.1em;
    }

    .other_info_modpack {
        text-align: center;
        font-size: 1.1em;
    }
}



/* Animation Class */
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.opacityIn {
    animation-name: opacity;
    animation-duration: 1s;
}

/* Keyframe Animation Effects */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}